<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>Forecast Tool</title>
</head>
  <header class="row">
    <div class="col-md-4" id="headerLeft">
      <div id="logoBlock"></div>
      <div id="logoText">
        <h1>Forecast Tool</h1>
      </div>
    </div>
    <div class="col-md-8" id="headerRight">
      <nav>
        <div id="summary"><a href="/">Home</a></div>
        <div id="importCSV"><a href="../importCSV">Import CSV</a></div>
        <div id="editForecast"><a href="../editForecast">Edit Forecast</a></div>
        <div id="settings"><a href="../settings">Settings</a></div> 
      </nav>
    </div>
  </header>

<body>
    {{{body}}}
</body>

</html>
