<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Forecast Tool</title>
</head>
  <header class="row">
    <div class="col-md-4" id="headerLeft">
      <div id="logoBlock"></div>
      <div id="logoText">
        <h1>Forecast Tool</h1>
      </div>
    </div>
    <div class="col-md-8" id="headerRight">
      <nav>
        <div id="summary"><a href="/">Home</a></div>
        <div id="importCSV"><a href="../importCSV">Import CSV</a></div>
        <div id="editForecast"><a href="../editForecast">Edit Forecast</a></div>
        <div id="settings"><a href="../settings">Settings</a></div> 
      </nav>
    </div>
  </header>

<body>
    {{{body}}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src=".public/js/index.js"></script>
</html>
