<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Forecast Tool</title>
</head>
  <header class="row">
    <div class="col-md-4" id="headerLeft">
      <div id="logoBlock"></div>
      <div id="logoText">
        <h1>Forecast Tool</h1>
      </div>
    </div>
    <div class="col-md-8" id="headerRight">
      <nav>
        <div id="summary">Summary</div>
        <div id="data">New Data</div>
        <div id="forecastMethod">Forecast</div>
        <div id="settings">Settings</div>
      </nav>
    </div>
  </header>

<body>
    {{{body}}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src=".public/js/index.js"></script>
</html>
