<div class="container">
  <div class="row">
    <h1 id="editTitleGl" style="margin-right:10px">{{gl}}</h1>
    <h2 id="editTitleItem" style="margin-top:12px">{{item}}</h2>
  </div>
  <div class="row">
    <table id="editDataTable">
      <tr>
        <h1></h1>
      </tr>
    </table>
        <table id="editForecastTable">
      <tr>
        <h1></h1>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form>
        <h3>forecast method</h3>
        <select class="form-control" id="forecastMethodSelect">
        </select>
        <button type="submit">RUN</button>
      </form>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

