<script src="/js/index.js"></script>

<br>

<div>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>SubCategory</th>
      <th>Year</th>
      <th>January</th>
      <th>February</th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody class="dataTable">
  </tbody>
  </table>
</div>
