<div class="container" id="index">
  <div class="row">
  <div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <table id="dataTable" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Year</th>
            <th>January</th>
            <th>February</th>
            <th>March</th>
            <th>April</th>
            <th>May</th>
            <th>June</th>
            <th>July</th>
            <th>August</th>
            <th>September</th>
            <th>October</th>
            <th>November</th>
            <th>December</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <input size="10" placeholder="Category" id="mainCategory" list="mainCategory" />
            </td>
            <td>
              <input size="10" placeholder="Sub-Category" id="subCategory" list="subCategory" />
            </td>
            <td>
              <input size="10" placeholder="Year" id="categoryYear" tye="text" />
            </td>
            <td>
              <input size="10" placeholder="" id="january" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="february" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="march" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="april" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="may" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="june" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="july" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="august" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="september" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="october" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="november" type="text"/>
            </td>
            <td>
              <input size="10" placeholder="" id="december" type="text"/>
            </td>
            <td>
              <input size="5" placeholder="" id="edit" type="text"/>
            </td>
            <td>
              <input size="5" placeholder="" id="delete" type="text"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>
</div>
