<div class="container" id="index">
  <div class="row">
  <div>
    <div class="row">
      <h3>Data</h3>
    </div>
    <div class="row">
      <table id="dataTable">
        <tr>
          <th></th>
          <th>January</th>
          <th>February</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
          <th>July</th>
          <th>August</th>
          <th>September</th>
          <th>October</th>
          <th>November</th>
          <th>December</th>
        </tr>
      </table>
    </div>
  </div>
  </div>
  </div>
</div>
